.nothing__main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  height: 100vh;
  background-color: $primary;

  p {
    text-align: center;
  }
}
